:root{
  --theme-color: #8A07FA;
}
body{
  margin: 0;
}
h1, h2{
  font-family: 'Heebo', sans-serif;
}
p{
  font-family: 'Arvo', serif;
}

@supports (-webkit-text-stroke: 1px black){}
.outlined-header{
  -webkit-text-stroke: 1px black;
  color: white;

}
#my-work{
  text-align: center;
  font-size: 5em;
}
}
#my-work{
  text-align: center;
  font-size: 5em;
}
.emphasized-text{
  color: var(--theme-color);
}
.site-navbar{
  margin: 0;
   box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  /* width: 100vw; */
  height: 3em;
  background-color: #6809CC;
}
.nav-menu li{
  /* border-radius: 10%; */
  position: relative;
  bottom: .2em;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  margin-left: 1em;
  color: white;
  padding: 1em;
  display: inline;
}
.nav-menu li:hover .nav-dropdown{
  display: block;
}
.nav-dropdown{
  position: absolute;
  left: 0em;
  top: 3em;
  padding-left: .5em;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
  display: none;
width: 8em;
z-index: 8;
margin: 0;
padding: 0;
}
.nav-dropdown li{
  color: var(--theme-color);
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;

}
.nav-menu li:hover{
  background-color: #D4B2F9;
  color: #6809CC;
}
.site-header{
  width: 45em;
  height: 15em;
  position: relative;
  margin: auto;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 15em 30em;
  grid-template-rows: 3em 1.5em 3em 3em 5em;
  grid-template-areas: "img title"
                        "img ."
                        'img bio'
                        "img ."
                        "img links";
  column-gap: 1em;
}
.bio-links{
  grid-area: links;
}
.bio-links li{
  font-family: 'Arvo', serif;
  margin-left: auto;
  list-style: none;
  display: inline;
  transition: transform 0.2s;
}
.bio-links li:hover{
  transform: scale(1.5);
}
button{
  padding: 1em;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px #89a1b3;
  transition-property: transform, background-color;
  transition-duration: .5s;
  font-family: 'Arvo', serif;
  border-radius: 5px;
  transition:
}
button:hover{
  transform: scale(1.2);
  background-color: var(--theme-color);
}
button:hover a{
  color: white;
}
button a{
  width: 100%
  height: 100%;
  color: var(--theme-color);
  text-decoration: none;
}
#profile-pic{
 box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
  border: 5px solid var(--theme-color);
  grid-area: img;
  width: 15em;
  height: 15em;
  margin: 0 5em 3em 0;
  background-image: url("img/profile-pic.jpg");
  background-size: cover;
  border-radius: 100%;
}
.intro-title{
  position: relative;
  left: .4em;
  font-family: 'Heebo', sans-serif;
  margin: 0;
  font-weight: 800;
  font-size: 1.5em;
  grid-area: title;
}
#bio-main-text{
  position: relative;
  left: .5em;
  font-family: 'Arvo', serif;
  text-align: left;
  font-size: 1.25em;
}
.bio{
  text-align: center;
  grid-area: bio;
}
.bio ul{
}
.bio li{
  display: inline;
}
.social-links{
  height: 5em;
  width: 45em;
  position: relative;
  top: 1em;
  margin: auto;
}
.social-list{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.social-item a{
  color: black;
}
.social-item{
  display: inline;
  font-family: 'Arvo', serif;
  transition-property: : transform, color;
  transition-duration: .4s;
}
.social-item a{
  text-decoration: none
}
i{
  margin-right: .25em;
}
.social-item:hover{
  transform: scale(1.25);
}
.social-item:hover a{
  color: var(--theme-color);
}
.homepage-project{
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 2fr 3fr 4fr;
  grid-template-areas: "img subhead"
                        "img project-title"
                        "img desc"
                        "img read-more";
  width: 70em;
  height: 19em;
  margin: 5em auto;
}
.project-image{

   box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  grid-area: img;

  background-size: cover;
  background-position: left;
}
#dillo-homepage{
    background-image: url("img/dillo-thumb.png");
}
#voter-homepage{
  background-image: url("img/voter-thumb.png");
}
#nuazn-homepage{
  background-image: url("img/nuazn-thumb.jpg");
}
#eeyagi-homepage{
  background-image: url("img/eeyagi-thumb.png");
}
#photos-homepage{
  background-image: url("img/photog-thumb.jpg");
}
#podcast-homepage{
background-image: url("img/2ga-thumb.jpg");
}
.project-subhed{
  top: 0;
  grid-area: subhead;
  position: relative;
  left: 1em;
  margin-bottom: 0;
}
.project-title{
  grid-area: project-title;
  position: relative;
  top: 0;
  left: .5em;
  font-size: 3em;
  margin: 0;
}
.project-description{
  font-family: 'Arvo', serif;
  width: 70%;
  position: relative;
  left: 1.75em;
  grid-area: desc;
}
.read-more{
  grid-area: read-more;
  position: relative;
  left: 1.5em;
  top: 1em;
}
.read-more h2{
  display: inline;
}
.read-more a{
  color: black;
  text-decoration: none;
  transition: color .5s;
}
.read-more a:hover{
color: var(--theme-color);
transform: scale(1.5);
}
.read-more i{
  position: relative;
  bottom: 2px;
}

.site-footer{
  text-align: center;
  color: gray;
  width: 100%;
  margin-bottom: 2em;
}
.site-footer p{
  margin: auto;
}

/* Project Styles */

.project-navbar{
  position: fixed;
  height: 3em;
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
  /* display: fixed; */
  background-color: white;
  padding-bottom: 1em;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 1em;
  z-index: 10;
}
.returnlink{
  color: black;
  text-decoration: none;
  transition: color .5s;
}
.returnlink:hover{
  color: var(--theme-color);
}
.project-intro-media{
  float: right;
  margin: 5em 3em 5em 5em;
   /* box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6); */
   padding: 0 1em;
   width: 50vw;
}
.project-intro-media a{
  color: var(--theme-color);
  text-decoration: none;
  transition: color .5s;
}
.project-intro-media img{
  width: 100%;
  float: right;
  position: relative;
}
.project-intro-media a:hover{
  color: black;
}
.project-bigtitle{
  padding-top: 3em;
  width: 35vw;
  margin-left: 3em;
  border-bottom: 2px solid var(--theme-color);
  padding-bottom: .5em;
}
.project-bigtitle h1{
  font-size: 3em;
  margin: .5em 0 0 0;
}
.project-subtitle{
  margin: 0;
    font-family: 'Arvo', serif;
}
.project-details{
  max-width: 35vw;
  margin-left: 3em;
  border-bottom: 2px solid var(--theme-color);
  padding-bottom: .5em;
}
.project-description-internal{
  max-width: 40vw;
  margin-left: 3em;
}
.project-summary{
  margin-left: 3em;
  border-bottom: 2px solid var(--theme-color);
}
.project-summary a{
  color: black;
  text-decoration: none;
  transition: color .5s;
}
.project-summary a:hover{
color: var(--theme-color);
transform: scale(1.5);
}
.project-section{
  margin: 3em;
  padding-bottom: 3em;
  border-bottom: 2px solid var(--theme-color);
}
.project-section-left{
  padding-bottom: 3em;
  position: relative;
}
.project-section-left p{
  max-width: 45vw !important;
  margin-right: 2em;
  top: 0;
}
.project-section p{
  max-width: 80vw;
}
.project-image-internal{
  position: relative;
  display: inline-block;
  margin-right: 3em;
  max-width: 40%;
  /* margin: 5em 10em 5em 5em; */
  /* margin-bottom: 3em; */
  margin-top: 2em;
   /* box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
   padding: 1em 1em; */
}
.project-image-internal img{
  max-width: 100%;
  border: 1px solid var(--theme-color);
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
}
.project-image-internal p{
  position: relative;
  right: 0;
}
.project-image-left{
  position: relative;
  float: right;
}
.shoulder-images{
  display: flex;
  width: 40vw;
  flex-wrap: wrap;

}
.shoulder-images img{
  width: 25%
}

/* About Page */
.bio-expanded{
  position: relative;
  top: 5em;
  width: 50em;
  height: 25em;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 8fr;
  grid-template-rows: auto;
  grid-template-areas: "img text";
  column-gap: 2em;
}
.profile-pic-big{
  grid-area: img;
  width: 100%;
  background-image: url("img/big-profile-pic.jpg");
  background-size: cover;
}
.aboutme-text{
  grid-area: text;
  bottom: 0;
  position: relative;
}
.aboutme-text h1{
  font-size: 3em;
  position: relative;
  padding: 0;
  margin-bottom: 0;
}
.aboutme-text h2{
  position: relative;
  top: 0;
  margin-top: 0;
}
.about-me-contact{
  position: relative;
  margin-top: 6em;
  margin-bottom: 0;
  top: 6em;
  text-align: center;
}
.gallery-heading-top{
  margin-top: 20vh;
  text-align: center;
}
.gallery-heading{
  margin-top: 10vh;
  text-align: center;
}
.photo-gallery{
  display: flex;
  width: 60vw;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.photo-gallery img{
  margin: 1%;
}
.gallery-img{
  width: 30%;
}
.gallery-img-big{
  width: 45%;
}
.gallery-img-huge{
  width: 90%;
}
.bottom-gallery{
  margin-bottom: 5vh;
}
@media screen and (max-width: 1000px){
  .site-header{
    width: 90vw;
    position: relative;
    margin: auto;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-auto-rows: min-content;
    grid-template-areas:
        "img"
        "."
        'bio'
        "."
        "links";
    column-gap: 1em;
    margin-bottom: 50vh;
  }
  .bio{
    width: 60vw;
    margin: auto;
  }
  #profile-pic {
    box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
    border: 5px solid var(--theme-color);
    grid-area: img;
    margin-left: 15%;
    background-image: url(img/profile-pic.jpg);
    background-size: cover;
    border-radius: 100%;
}
.social-links{
  display: none;
}
.bio-links{
  margin: auto;
}
.homepage-project{
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20fr 1fr 2fr 3fr 4fr;
    grid-template-areas:
        "img"
        "subhead"
        "project-title"
        "desc"
        "read-more";
    width: 90vw;
    height: 40em;
    margin: 5em auto;
}
}
}
